* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f8;
  color: #111318;
  font-size: clamp(14px, 2vw, 16px);
  line-height: 1.5;
  padding-top: 80px;
}

button {
  font-size: inherit;
}

header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
}

header div {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

header div img {
  width: 50px;
}

header div h1 {
  font-size: clamp(18px, 5vw, 32px);
}

header button {
  background-color: #2b6cee;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 1rem;
}

main {
  flex-grow: 1;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.kanban-column {
  display: flex;
  flex-direction: column;
  background-color: #f3f4f6;
  border-radius: 5px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
  padding: 10px;
  gap: 1rem;
  height: 75%;
}

.kanban-column-title {
  display: flex;
  align-items: center;
  height: 2.5rem;
  gap: 0.5rem;
}

.kanban-column-title h2 {
}

.kanban-column-title span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 1rem;
  padding: 0.7rem;
  border-radius: 50%;
  background-color: #e5e7eb;
}

.kanban-column-todo .kanban-column-title {
  border-bottom: 2px solid #3774ee;
}

.kanban-column-inprogress .kanban-column-title {
  border-bottom: 2px solid #eab716;
}

.kanban-column-done .kanban-column-title {
  border-bottom: 2px solid #2fc767;
}

.kanban-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  height: 150px;
}
