* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F8;
    color: #111318;
    font-size: clamp(14px, 2.5vw, 18px);
}

button {
    font-size: inherit;
}

header {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px;
}

header div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header div img {
    max-height: 100%;
}

header div h1 {
    font-size: clamp(18px, 5vw, 48px);
}

header button {
    background-color: #2B6CEE;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
}

main {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.kanban-column {
    display: flex;
    flex-direction: column;
    background-color: #F3F4F6;
    border-radius: 5px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
    padding: 10px;
    gap: 10px;
}

.kanban-column-title {
    display: flex;
    align-items: center;
    height: 2.5rem;
    gap: 0.5rem;
}

.kanban-column-title h2 {
    font-size: clamp(16px, 3.5vw, 32px);
}

.kanban-column-title span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 1rem;
    padding: 0.7rem;
    border-radius: 50%;
    background-color: #E5E7EB;
}

.kanban-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 15px;
    min-height: 150px;
}

.kanban-column-todo .kanban-column-title {
    border-bottom: 2px solid #3774EE;
}

.kanban-column-inprogress .kanban-column-title {
    border-bottom: 2px solid #EAB716;
}

.kanban-column-done .kanban-column-title {
    border-bottom: 2px solid #2FC767;
}