@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f8;
  color: #111318;
  font-size: clamp(14px, 2vw, 16px);
  line-height: 1.5;
  padding-top: 80px;
  font-family: "Inter", sans-serif;
}

button {
  font-size: inherit;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
}

header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
}

header div {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

header div img {
  width: 50px;
}

header div h1 {
  font-size: clamp(18px, 5vw, 32px);
}

header #add-task-button {
  background-color: #2b6cee;
  color: #ffffff;
  padding: 0.75rem 1rem;
}

main {
  flex-grow: 1;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.kanban-column {
  display: flex;
  flex-direction: column;
  background-color: #f3f4f6;
  border-radius: 5px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
  padding: 10px;
  gap: 1rem;
  max-height: 100%;
}

.kanban-column-title {
  display: flex;
  align-items: center;
  height: 2.5rem;
  gap: 0.5rem;
}

.kanban-column-title span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 1rem;
  padding: 0.7rem;
  border-radius: 50%;
  background-color: #e5e7eb;
}

.todo-title {
  border-bottom: 2px solid #3774ee;
}

.inprogress-title {
  border-bottom: 2px solid #eab716;
}

.done-title {
  border-bottom: 2px solid #2fc767;
}

.kanban-card-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
}

.kanban-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  min-height: 150px;
}

.kanban-drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dotted #d1d5db;
  color: #6b7280;
  padding: 15px;
  min-height: 150px;
  border-radius: 5px;
}

#overlay-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

#overlay-modal.hidden {
  display: none;
}

.modal {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
}

.modal h2 {
  margin-bottom: 1rem;
}

#form {
  display: flex;
  flex-direction: column;
}

#form label {
  margin-bottom: 0.25rem;
}

#form input {
  height: 2rem;
  margin-bottom: 1rem;
  outline: none;
  border: 2px solid #d0d5db;
  border-radius: 10px;
  padding: 0.5rem;
  font-family: inherit;
}

#form textarea {
  font-family: inherit;
  margin-bottom: 1.5rem;
  min-height: 150px;
  min-width: 500px;
  border: 2px solid #d0d5db;
  border-radius: 10px;
  outline: none;
  padding: 0.5rem;
}

.form-btn {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.form-btn button {
  padding: 0.5rem 1rem;
  background-color: #f2f3f5;
}

.form-btn #save-button {
  color: white;
  background-color: #2b6cee;
}

@media (max-width: 1000px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .kanban-column {
    max-height: 500px;
  }

  #form textarea {
    min-width: 300px;
    max-width: 300px;
    max-height: 300px;
  }
}
